:root {
  --primary: #ffffff;
  --secondary: #d0b1af;
  --accent: #ba5b87;
  --accent-shade: #9c456e;
  --black: #2b2a29;
  --black-2: #444241;
  --main-font: Merriweather Sans, Arial, sans-serif;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  vertical-align: baseline;
}

img,
picture,
video,
iframe,
figure {
  max-width: 100%;
  width: 100%;
  display: block;
}

a {
  display: block;
  text-decoration: none;
  color: inherit;
  font-size: inherit;
}

p a {
  display: inline;
}

li {
  list-style-type: none;
}

html {
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
a,
strong,
blockquote,
i,
b,
u,
em {
  font-size: 1em;
  font-weight: inherit;
  font-style: inherit;
  text-decoration: none;
  color: inherit;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

::selection {
  background-color: var(--negro);
  color: var(--blanco);
}

form,
input,
textarea,
select,
button,
label {
  font-family: inherit;
  font-size: inherit;
  hyphens: auto;
  background-color: transparent;
  color: inherit;
  display: block;
}

table,
tr,
td {
  border-collapse: collapse;
  border-spacing: 0;
}

svg {
  width: 100%;
  display: block;
  fill: currentColor;
}

body {
  background-color: var(--primary);
  min-height: 100vh;
  font-size: 100%;
  font-family: var(--main-font);
  color: var(--black);
  line-height: 1.4em;
}

h1 {
  font-family: "Merriweather";
  font-style: normal;
  font-weight: 900;
  font-size: 4rem;
  line-height: 5rem;
}

h2 {
  font-family: "Merriweather Sans";
  font-style: normal;
  font-weight: 800;
  font-size: 3rem;
  line-height: 4rem;
}

h3 {
  font-family: "Merriweather Sans";
  font-style: normal;
  font-weight: 800;
  font-size: 2.5rem;
  line-height: 3.375rem;
}

h4 {
  font-family: "Merriweather Sans";
  font-style: normal;
  font-weight: 800;
  font-size: 1.75rem;
  line-height: 2.5rem;
}

h5 {
  font-family: "Merriweather Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 2rem;
}

h6 {
  font-family: "Merriweather Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 1.875rem;
}

p {
  font-family: "Merriweather Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.625rem;
}

.h5-letterSpacing {
  letter-spacing: 0.12em;
  text-transform: uppercase;
  color: var(--secondary);
}

.p-18 {
  font-family: "Merriweather Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 1.75rem;
}

.creator__info {
  font-family: "IBM Plex Mono";
  font-style: normal;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.625rem;
}

.button {
  font-family: "Merriweather Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 1.125rem;
  line-height: 1.75rem;
  text-transform: uppercase;
}

.mobile__a {
  font-family: "Merriweather Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 54px;
}

.button {
  padding: 0.5rem 1rem;
  background-color: var(--accent);
  color: var(--primary);
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 8px;
}

.button:hover {
  background-color: var(--accent-shade);
}

.separator {
  width: 100%;
  height: 4px;
  background-color: var(--secondary);
  border-radius: 2px;
}

.container {
  max-width: 80rem;
  width: 100%;
  margin: 0 auto;
  padding: 0 1rem;
}

.header {
  width: 100%;
  padding: 1rem;
  border-bottom: 1px solid var(--secondary);
  background-color: var(--primary);
  position: sticky;
  top: 0;
  left: 0;
  z-index: 5;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__logo {
  width: 5rem;
}
.header__ul {
  display: flex;
  gap: 1.5rem;
}
.header__mobile {
  display: none;
}

.burger {
  display: none;
}

.mobile {
  background-color: var(--primary);
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
.mobile__ul {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 3rem;
}
.mobile__socials {
  display: flex;
  gap: 1.5rem;
}

.mobile.active {
  display: block;
}

.hero__container {
  padding-top: 6rem;
  padding-bottom: 6rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 4rem;
  justify-content: center;
  align-items: center;
}
.hero__text {
  max-width: 27.5rem;
}
.hero__h1 {
  padding-bottom: 0.5rem;
}
.hero__line {
  position: relative;
}
.hero__line::after {
  content: "";
  display: block;
  position: absolute;
  height: 6px;
  width: 100%;
  background-color: var(--accent);
  border-radius: 2px;
  left: 0;
  bottom: 0;
}
.hero__p {
  padding-bottom: 2rem;
}
.hero__img {
  max-width: 45rem;
  border-radius: 2px;
  flex-shrink: 1;
}

.carousel {
  background-color: var(--secondary);
  width: 100%;
  height: 120px;
  overflow-x: hidden;
  position: relative;
  display: flex;
  align-items: center;
}
.carousel__ul {
  position: absolute;
  display: flex;
  align-items: center;
}
.carousel__li {
  padding: 0 80px;
}
.carousel__img {
  min-width: 3.5rem;
}

.services {
  padding: 6rem 0;
}
.services__container {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.head {
  text-align: center;
  max-width: 47.5rem;
  margin: 0 auto;
}
.head__h2 {
  padding-bottom: 0.5rem;
}
.head__h5 {
  padding-bottom: 0.5rem;
}

.card {
  padding-bottom: 1.5rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1.5rem;
}
.card__item {
  padding: 1rem;
  background-color: var(--secondary);
  max-width: 18.75rem;
  border-radius: 2px;
}
.card__img {
  height: 22rem;
  object-fit: cover;
  padding-bottom: 1rem;
}
.card__text {
  width: 50%;
}
.card__separator {
  width: 20%;
  height: 3px;
  border-radius: 2px;
  background-color: var(--black);
  margin-bottom: 0.5rem;
}

.others {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
}
.others__item {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.others__separator {
  width: 1.5rem;
  height: 3px;
  background-color: var(--black);
  border-radius: 2px;
}

.about {
  padding: 6rem 0;
}
.about__container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  place-items: center;
  gap: 6rem;
}
.about__h5 {
  padding-bottom: 0.5rem;
}
.about__wrapper-h2 {
  width: fit-content;
  padding-bottom: 1rem;
}
.about__h2 {
  padding-bottom: 0.5rem;
}
.about__grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}
.about__img:nth-child(1) {
  grid-column: 1/-1;
  justify-self: center;
  width: 15.625rem;
}

.work {
  padding: 6rem 1.5rem;
}
.work__top {
  max-width: 47.5rem;
  margin: 0 auto;
  padding-bottom: 3.5rem;
  text-align: center;
}
.work__h5 {
  padding-bottom: 1rem;
}
.work__wrapper-h2 {
  width: fit-content;
  margin: 0 auto;
  padding-bottom: 1rem;
}
.work__h2 {
  padding-bottom: 0.5rem;
}
.work__bottom {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
}
.work__post {
  max-width: 400px;
}

.footer {
  background-color: var(--black);
  color: var(--primary);
}
.footer__container {
  padding-top: 6rem;
  padding-bottom: 6rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 7rem;
  place-items: center;
}
.footer__address {
  padding-bottom: 1rem;
}
.footer__schedule {
  color: var(--secondary);
  padding-bottom: 8px;
}
.footer__copy {
  padding-bottom: 1rem;
}
.footer__socials {
  display: flex;
  gap: 1rem;
}
.footer__img {
  width: 1.5rem;
}
.footer__col:nth-child(3) {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.creator {
  background-color: var(--primary);
  color: var(--black);
  text-align: end;
  padding: 0.5rem 1.5rem;
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: end;
}
.creator__logo {
  width: 48px;
}

@media screen and (max-width: 62em) {
  .hero__container {
    grid-template-columns: 1fr;
  }
  .hero__text {
    max-width: 100%;
    text-align: center;
  }
  .hero__h1 {
    max-width: 31.25rem;
    margin: 0 auto;
  }
  .hero__img {
    max-width: 100%;
  }
  .hero__button {
    margin: 0 auto;
  }
  .card {
    grid-template-columns: repeat(2, 1fr);
    place-items: center;
  }
  .card__item {
    width: 100%;
  }
  .others {
    flex-wrap: wrap;
  }
  h2 {
    font-size: calc(1.5rem + 1.2vw);
  }
}
@media screen and (max-width: 48em) {
  .header {
    justify-content: stretch;
  }
  .header__nav {
    display: none;
  }
  .header__logo {
    width: 4rem;
  }
  .header__button {
    margin-left: auto;
  }
  .burger {
    padding-left: 1rem;
    display: flex;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
  }
  .burger__bar {
    width: 1.5rem;
    height: 3px;
    background-color: var(--black);
    transition: all 0.3s ease-in-out;
  }
  .burger.active .burger__bar:nth-child(2) {
    opacity: 0;
  }
  .burger.active .burger__bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  .burger.active .burger__bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
  .header .hero__container {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
  .hero__container,
.services,
.about,
.work,
.footer__container {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }
  .about__container,
.footer__container {
    grid-template-columns: 1fr;
  }
  .footer__container {
    place-items: initial;
  }
  .button__a {
    font-size: 0.875rem;
  }
  .button__img {
    width: 1.25rem;
  }
}
@media screen and (max-width: 30rem) {
  h1 {
    font-size: 3rem;
  }
  .card {
    grid-template-columns: 1fr;
  }
}

/*# sourceMappingURL=app.css.map */
