:root {
  --black: #393939;
  --main-font: Helvetica, Arial, sans-serif;
  --secondary-font: Verdana;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  vertical-align: baseline;
}

img,
picture,
video,
iframe,
figure {
  max-width: 100%;
  width: 100%;
  display: block;
}

a {
  display: block;
  text-decoration: none;
  color: inherit;
  font-size: inherit;
}

p a {
  display: inline;
}

li {
  list-style-type: none;
}

html {
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
a,
strong,
blockquote,
i,
b,
u,
em {
  font-size: 1em;
  font-weight: inherit;
  font-style: inherit;
  text-decoration: none;
  color: inherit;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

::selection {
  background-color: var(--negro);
  color: var(--blanco);
}

form,
input,
textarea,
select,
button,
label {
  font-family: inherit;
  font-size: inherit;
  hyphens: auto;
  background-color: transparent;
  color: inherit;
  display: block;
}

table,
tr,
td {
  border-collapse: collapse;
  border-spacing: 0;
}

svg {
  width: 100%;
  display: block;
  fill: currentColor;
}

body {
  min-height: 100vh;
  font-size: 100%;
  font-family: var(--main-font);
  color: var(--black);
  line-height: 1.4em;
}

h1 {
  font-family: "Merriweather";
  font-style: normal;
  font-weight: 900;
  font-size: 4rem;
  line-height: 5rem;
}

h2 {
  font-family: "Merriweather Sans";
  font-style: normal;
  font-weight: 800;
  font-size: 3rem;
  line-height: 4rem;
}

h3 {
  font-family: "Merriweather Sans";
  font-style: normal;
  font-weight: 800;
  font-size: 2.5rem;
  line-height: 3.375rem;
}

h4 {
  font-family: "Merriweather Sans";
  font-style: normal;
  font-weight: 800;
  font-size: 1.75rem;
  line-height: 2.5rem;
}

h5 {
  font-family: "Merriweather Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 2rem;
}

h6 {
  font-family: "Merriweather Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 1.875rem;
}

p {
  font-family: "Merriweather Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.625rem;
}

.h5-letterSpacing {
  letter-spacing: 0.12em;
  text-transform: uppercase;
}

.p-18 {
  font-family: "Merriweather Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 1.75rem;
}

.creator__info {
  font-family: "IBM Plex Mono";
  font-style: normal;
  font-weight: 500;
  font-size: 1.125rem;
  line-height: 1.75rem;
}

.container {
  max-width: 80rem;
  width: 100%;
  margin: 0 auto;
  padding: 0 1rem;
}

.header {
  width: 100%;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__ul {
  display: flex;
  gap: 1.5rem;
}

.hero__container {
  padding-top: 2rem;
  padding-bottom: 4rem;
  display: flex;
  gap: 5.5rem;
}
.hero__h1 {
  padding-bottom: 0.5rem;
}
.hero__p {
  padding-bottom: 2rem;
}

.carousel {
  width: 100%;
  overflow-x: hidden;
}
.carousel__ul {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.carousel__li {
  padding: 0 7rem;
}

.services {
  padding: 6rem 0;
}
.services__container {
  display: grid;
  grid-template-columns: 1;
  grid-template-rows: 1fr 2fr;
  gap: 3rem;
}

.head {
  text-align: center;
}
.head__h5 {
  padding-bottom: 0.5rem;
}

.card {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1.5rem;
  padding-bottom: 24px;
}

.others {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
}

.about {
  padding: 6rem 0;
}
.about__container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 4rem;
}
.about__h5 {
  padding-bottom: 2rem;
}
.about__h2 {
  padding-bottom: 0.5rem;
}
.about__line {
  padding-bottom: 2rem;
}

.work {
  padding-top: 6rem;
  padding-bottom: 6rem;
}

.footer__container {
  padding-top: 6rem;
  padding-bottom: 6rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 7rem;
  place-items: center;
}

.creator {
  text-align: end;
  padding: 0.5rem 1.5rem;
}

/*# sourceMappingURL=app.css.map */
