@import "./reset/variables.scss";
@import "./reset/reset.scss";
@import "./utilities/typography.scss";

.separator {
	width: 100%;
	height: 4px;
	background-color: var(--secondary);
}

.container {
	max-width: 80rem;
	width: 100%;
	margin: 0 auto;
	padding: 0 1rem;
}

.header {
	width: 100%;
	padding: 1rem;

	display: flex;
	justify-content: space-between;
	align-items: center;

	&__ul {
		display: flex;
		gap: 1.5rem;
	}
}

.hero {
	&__container {
		padding-top: 2rem;
		padding-bottom: 4rem;

		display: flex;
		gap: 5.5rem;
	}

	&__h1 {
		padding-bottom: 0.5rem;
	}

	&__line {
		position: relative;
	}

	&__line::after {
		content: "";
		display: block;
		position: absolute;
		height: 6px;
		width: 100%;
		background-color: var(--accent);
		border-radius: 2px;
		left: 0;
		bottom: 0;
	}

	&__p {
		padding-bottom: 2rem;
	}
}

.carousel {
	width: 100%;
	overflow-x: hidden;

	&__ul {
		width: 100%;

		display: flex;
		align-items: center;
		justify-content: center;
	}

	&__li {
		padding: 0 7rem;
	}
}

.services {
	padding: 6rem 0;

	&__container {
		display: grid;
		grid-template-columns: 1;
		grid-template-rows: 1fr 2fr;
		gap: 3rem;
	}
}

.head {
	text-align: center;
	max-width: 47.5rem;
	margin: 0 auto;

	&__h2 {
		padding-bottom: 8px;
	}

	&__h5 {
		padding-bottom: 0.5rem;
	}
}

.card {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 1.5rem;
	padding-bottom: 24px;
}

.others {
	display: flex;
	justify-content: center;
	gap: 0.5rem;
}

.about {
	padding: 6rem 0;

	&__container {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: 4rem;
	}

	&__h5 {
		padding-bottom: 2rem;
	}

	&__h2 {
		padding-bottom: 0.5rem;
	}

	&__separator {
		margin-bottom: 2rem;
	}
}

.work {
	padding-top: 6rem;
	padding-bottom: 6rem;

	&__top {
		max-width: 47.5rem;
		margin: 0 auto;
		text-align: center;
	}
}

.footer {
	background-color: var(--black);
	color: var(--primary);

	&__container {
		padding-top: 6rem;
		padding-bottom: 6rem;

		display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap: 7rem;
		place-items: center;
	}

	&__schedule {
		color: var(--secondary);
	}
}

.creator {
	background-color: var(--primary);
	color: var(--black);
	text-align: end;
	padding: 0.5rem 1.5rem;
}
