.button {
	padding: 0.5rem 1rem;
	background-color: var(--accent);
	color: var(--primary);
	cursor: pointer;

	display: flex;
	align-items: center;
	gap: 8px;
}

.button:hover {
	background-color: var(--accent-shade);
}
